Options +FollowSymLinks
RewriteEngine On
# Redirect requests to index.php

RewriteCond %{REQUEST_URI} !.*\.php$ [NC]
RewriteCond %{REQUEST_URI} !.*\.css$ [NC]

RewriteRule .* /Employee_Manager_MVC/index.php
